<template>
  <div id="app">
    <md-app>
      <md-app-toolbar class="md-primary">
        <TheToolbarContents />
      </md-app-toolbar>
      <md-app-content
        class="md-content"
        v-masonry
        transition-duration="0.0s"
        item-selector=".card"
      >
        <div class="sticky-container">
          <md-speed-dial
            class="sticky-dial"
            md-direction="bottom"
            md-event="click"
          >
            <md-speed-dial-target
              class="md-primary"
              @click="setSeedInputVisible(false)"
            >
              <md-icon class="md-morph-initial">add</md-icon>
              <md-icon class="md-morph-final">close</md-icon>
            </md-speed-dial-target>

            <md-speed-dial-content>
              <md-button class="md-icon-button" v-on:click="addRandomCharacter">
                <md-icon>person_add</md-icon>
              </md-button>
              <div style="position:relative">
                <md-button
                  class="md-icon-button seedInputButton"
                  v-on:click="setSeedInputVisible()"
                >
                  <md-icon>person_search</md-icon>
                </md-button>
                <TheSeedInput v-if="seedInputVisible"> </TheSeedInput>
              </div>
            </md-speed-dial-content>
          </md-speed-dial>
        </div>

        <CharacterCard
          v-masonry-tile
          class="card"
          v-for="(character, characterIndex) in characters"
          :key="character.seed"
          :character="character"
          :characterIndex="characterIndex"
          :options="options"
        />
      </md-app-content>
    </md-app>
  </div>
</template>

<script>
import Vue from 'vue'
import { VueMasonryPlugin } from 'vue-masonry'

import {
  MdApp,
  MdContent,
  MdToolbar,
  MdCard,
  MdSpeedDial,
  MdIcon
} from 'vue-material/dist/components'
import 'vue-material/dist/vue-material.min.css'
import 'vue-material/dist/theme/black-green-dark.css'
import TheToolbarContents from './components/TheToolbar.vue'
import TheSeedInput from './components/TheSeedInput.vue'
import CharacterCard from './components/CharacterCard.vue'

Vue.use(VueMasonryPlugin)
Vue.use(MdApp)
Vue.use(MdToolbar)
Vue.use(MdCard)
Vue.use(MdContent)
Vue.use(MdSpeedDial)
Vue.use(MdIcon)

export default {
  name: 'App',
  components: {
    TheToolbarContents,
    TheSeedInput,
    CharacterCard
  },
  methods: {
    addRandomCharacter() {
      this.$store.dispatch('fetchCharacter')
    },
    addSpecificCharacter(seed) {
      this.$store.dispatch('fetchCharacter', seed)
    },
    setSeedInputVisible(isOpen) {
      if (typeof isOpen === 'undefined') {
        isOpen = !this.seedInputVisible
      }
      this.$store.commit('setSeedInputVisible', isOpen)
    }
  },
  computed: {
    characters() {
      return this.$store.state.characters
    },
    options() {
      return this.$store.state.options
    },
    seedInputVisible() {
      return this.$store.state.seedInputVisible
    }
  },
  mounted: async function() {
    this.$store.dispatch('fetchOptions')
    this.$store.dispatch('fetchCharacter', '123')
    this.$store.dispatch('fetchCharacter')
    this.$store.dispatch('fetchCharacter')
    this.$store.dispatch('fetchCharacter')
  }
}
</script>

<style>
#app,
.md-app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  height: 100%;
}

.md-content {
  flex-direction: column;
  align-items: flex-start;
}

.sticky-container {
  position: sticky;
  top: 16px;
  z-index: 2;
}

.sticky-dial {
  position: absolute;
  top: 10px;
  right: 10px;
}

html,
body {
  height: 100%;
}
</style>
