<template>
  <div class="card-thumbnail">
    <div class="card-subheading" v-show="subheading">{{ subheading }}</div>
    <img class="card-image" :src="src" :alt="value" v-if="!editMode" />
    <input
      class="card-image"
      type="color"
      :value="value"
      v-on:input="updateValue($event.target.value)"
      v-else
    />
  </div>
</template>

<script>
export default {
  name: 'CardThumbnail',
  props: {
    subheading: String,
    src: String,
    value: String,
    editMode: Boolean
  },
  methods: {
    updateValue: function(value) {
      this.$emit('input', value)
    }
  }
}
</script>

<style lang="scss" scoped>
.card-thumbnail {
  margin: auto;
  padding-bottom: 20px;
}

.card-subheading {
  text-align: center;
  font-weight: bold;
}

.card-image {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
