<template>
  <md-card class="md-primary md-layout-item md-flex" md-theme="white-card"
    ><md-card-header>
      <div class="md-title" v-if="!character.editMode">
        {{ character.prenom + ' ' + character.surname }}
      </div>
      <div class="md-title" v-else>
        <select v-model="prenom">
          <option
            v-for="(item, index) in options.prenom.all"
            :value="item"
            v-bind:key="item + index"
            >{{ item }}</option
          > </select
        ><select v-model="surname">
          <option
            v-for="(item, index) in options.surname"
            :value="item"
            v-bind:key="item + index"
            >{{ item }}</option
          >
        </select>
      </div>
    </md-card-header>
    <md-card-content>
      <div class="md-layout">
        <div class="md-layout-item md-size-20">
          <CardThumbnail
            subheading="Sypro:"
            :src="syproImageURL"
            :value="character.sypro"
            :editMode="character.editMode"
            v-on:input="sypro = $event"
          />

          <CardThumbnail
            subheading="Skin Tone:"
            :src="skinImageURL"
            :value="character.skin"
            :editMode="character.editMode"
            v-on:input="skin = $event"
          />

          <CardThumbnail
            :src="character.qrDataURI"
            :subheading="character.seed + ':'"
          />
        </div>
        <div class="md-layout-item">
          <div class="subheading">
            Address:
          </div>
          <div v-for="line in character.address" :key="line">{{ line }}</div>

          <md-divider />

          <div>
            {{ character.mbti.descriptor }} ({{ character.mbti.code }}) -
            {{ character.mbti.description }}
          </div>

          <md-divider />

          <div>{{ character.height }} cm</div>
          <div>{{ character.weight }} kg</div>
          <div>
            {{ character.bmi.value }} BMI ({{ character.bmi.category }})
          </div>

          <md-divider />

          <div>{{ character.partnershipStatus }}</div>

          <div v-show="character.partners.length > 0">
            <md-divider />
            <div
              v-for="partner in character.partners"
              :key="partner.prenom + partner.surname"
            >
              {{ partner.prenom }} {{ partner.surname }}
            </div>
          </div>
        </div>

        <div class="md-layout-item md-size-20">
          <CardThumbnail
            :src="orientationImageURL"
            :alt="character.orientation"
          />

          <CardThumbnail :src="genderImageURL" :alt="character.gender" />
        </div>
      </div>
    </md-card-content>

    <md-card-expand>
      <md-card-actions md-alignment="right">
        <md-button v-on:click="removeCharacter">Remove</md-button>
        <div v-if="!character.editMode">
          <md-button v-on:click="toggleEditMode">Edit</md-button>
        </div>
        <div v-else>
          <md-button v-on:click="resetCharacter">Reset All</md-button>
          <md-button v-on:click="toggleEditMode">Done</md-button>
        </div>
      </md-card-actions>
    </md-card-expand>
  </md-card>
</template>

<script>
import Vue from 'vue'
import { MdDivider, MdButton } from 'vue-material/dist/components'
import CardThumbnail from './CardThumbnail.vue'

Vue.use(MdDivider)
Vue.use(MdButton)

export default {
  name: 'CharacterCard',
  components: {
    CardThumbnail
  },
  props: {
    character: Object,
    characterIndex: Number,
    options: Object
  },
  methods: {
    toggleEditMode: function(event) {
      this.$store.commit({
        type: 'toggleEditMode',
        characterIndex: this.$props.characterIndex
      })
    },
    removeCharacter: function() {
      this.$store.commit({
        type: 'removeCharacter',
        characterIndex: this.$props.characterIndex
      })
    },
    resetCharacter: function() {
      this.$store.dispatch({
        type: 'resetCharacter',
        seed: this.$props.character.seed
      })
    },
    get: function(property) {
      return this.character[property]
    },
    set: function(property, value) {
      const editedCharacter = Object.assign({}, this.character)
      editedCharacter[property] = value
      this.$store.dispatch({
        type: 'postCharacter',
        characterIndex: this.$props.characterIndex,
        editedCharacter: editedCharacter
      })
    }
  },
  computed: {
    syproImageURL() {
      return `${
        process.env.VUE_APP_API
      }/image/${this.$props.character.sypro.slice(1)}.png`
    },
    skinImageURL() {
      return `${
        process.env.VUE_APP_API
      }/image/${this.$props.character.skin.slice(1)}.png`
    },
    orientationImageURL() {
      return `/image/${this.$props.character.orientation}.png`
    },
    genderImageURL() {
      return `/image/${this.$props.character.gender}.png`
    },
    prenom: {
      get() {
        return this.get('prenom')
      },
      set(value) {
        return this.set('prenom', value)
      }
    },
    surname: {
      get() {
        return this.get('surname')
      },
      set(value) {
        return this.set('surname', value)
      }
    },
    sypro: {
      get() {
        return this.get('sypro')
      },
      set(value) {
        return this.set('sypro', value)
      }
    },
    skin: {
      get() {
        return this.get('skin')
      },
      set(value) {
        return this.set('skin', value)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.md-card {
  width: 700px;
  margin: 4px;
  display: inline-block;
}

.subheading {
  font-weight: bold;
}

.md-divider {
  margin: 5px;
}

@import '~vue-material/dist/theme/engine';

@include md-register-theme(
  'white-card',
  (
    primary: md-get-palette-color(white, 500),
    accent: md-get-palette-color(grey, A200)
  )
);

@import '~vue-material/dist/theme/all';
</style>
