<template>
  <div class="seed-input-wrapper">
    <input
      class="seed-input"
      type="text"
      v-on:keyup.enter="updateValue($event.target.value)"
    />
  </div>
</template>

<script>
export default {
  name: 'TheSeedInput',
  props: {
    showInput: Boolean
  },
  methods: {
    updateValue: function(value) {
      this.$store.dispatch('fetchCharacter', value)
    }
  }
}
</script>

<style lang="scss" scoped>
.seed-input-wrapper {
  position: absolute;
  right: 50px;
  bottom: 10px;
}
</style>
