<template>
  <div id="toolbar">
    <md-avatar>
      <img src="../assets/logo.svg" alt="Logo" />
    </md-avatar>
    <h3 class="md-title">
      Sypro Character Viewer
    </h3>
  </div>
</template>

<script>
import Vue from 'vue'
import { MdAvatar } from 'vue-material/dist/components'

Vue.use(MdAvatar)

export default {
  name: 'TheToolbarContents'
}
</script>

<style scoped>
#toolbar {
  display: flex;
  align-items: center;
}
</style>
